name: Test and Release

on: push

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  tests:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Keep npm cache around to speed up installs
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies and compile
        run: npm ci --no-audit
      - name: Compile
        run: npx tsc
      - name: Check source code with eslint
        run:
          npx eslint --ignore-pattern commitlint.config.js --ignore-path
          .gitignore ./
      - name: Check if source code is properly formatted
        run: npx prettier -c ./
      - name: Semantic release
        if: success()
        continue-on-error: true
        run: npx semantic-release
